.view-box{
    width:80%;
    margin :0 auto;
    background-color: #f5f6f7;
}
.view-content{
    list-style-type: none;
    max-width:800px;
}
.view-content li{
    padding : 8px;
}
.view-bar{
    height:40px;
    display: flex;
    align-items: center;
    border-bottom:1px solid #ccc;
}
.view-user{

    height: 70px;
}
.view-title{
    font-size:23px;
    font-weight: bold;
}

.view-text{
    border : none;
    background-color: #f5f6f7;
    resize:none;
    height:400px;
    width:95%;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:17px;

}
.view-text:focus{outline: none;}

/*
 댓글
*/
.view-comment{
    width:80%;
    margin :0 auto;
    background-color: #f5f6f7;
    margin-top:15px;
}

.write-comment{
    display: flex;
    height:30px;
    align-items: center;
}
.write-comment-text{
    width:80%;
    height:20px;
    margin: 0 10px;
    background-color: #f5f6f7;
    border: 1px solid black;
    border-radius: 10px;

}
.write-comment-text:focus{
    outline: #ccc;
}
.write-comment div{
    height: 30px;
    width:30px;
    cursor: pointer;
}
.img-send{
    max-width: 30px;
    max-height: 30px;

}