<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titl>테스트다</titl>
</head>
<body>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/posts/save" method="post" enctype="multipart/form-data" >
    제목<input type="text" name="title">
    내용<textarea name="content"></textarea>
    닉네임<input type="text" name="nickname">
    동네<input type="text" name="town">
    <input type="file" multiple name="files">
    <input type="hidden" name="commentsCount" value=0>
    <input type="hidden" name="views" value=0>
    <button type="submit">전송</button>

</form>
</body>
</html>
</body>
</html>