<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>푸터</title>
</head>
<body>

<div class="footer-container" th:fragment="footer">
    <div class="footer-box">
        <p>&copy; 2024 동글. All Rights Reserved.</p>
        <p>Contact us: support@yourcompany.com</p>
        <div class="footer-policy">
            <span class="policy-inner">이용약관</span>
            <span class="policy-inner">개인정보처리방침</span>
            <span class="policy-inner">위치기반서비스 이용약관</span>
            <span class="policy-inner">청소년보호정책</span>
        </div>
    </div>
</div>


</body>
</html>