<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
</head>
<body>
<div class="header-container" th:fragment="header">
    <div class="header-box">
        <div class="header-logo" onclick="location.href='/'">로고</div>
        <div class="header-sign" onclick="location.href='/login'">로그인/회원가입</div>
    </div>

</div>

</body>
</html>