<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://kit.fontawesome.com/22f660ea99.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="/css/joinForm.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<div class="join-form-container">
    <form action="joinProc" method="post">
        <ul class="join-form-box">
            <li class="field">
                <b>이메일</b>
                <input type="text" class="user-email" name="email">
                <div class="user-email-icon"><i class="fa-regular fa-user"></i></div>

            </li>
            <li class="field email-confirm">하하하하</li>
            <li class="field">
                <b>비밀번호</b>
                <input class="userpw" type="password" name="password">
                <div class="user-email-icon"><i class="fa-solid fa-lock"></i></div>
            </li>
            <li class="field">
                <b>비밀번호 재확인</b>
                <input class="userpw-confirm" type="password">
                <div class="user-email-icon"><i class="fa-solid fa-check"></i></div>
            </li>
            <li class="field">
                <b>닉네임</b>
                <input type="text" name="nickname">
            </li>
            <li class="field nickname-confirm">하하하하</li>
            <li>
                <input type="submit" value="가입하기">
            </li>
        </ul>
    </form>
</div>
</body>
</html>

