<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://kit.fontawesome.com/22f660ea99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/loginForm.css">
    <link  rel="stylesheet" href="/css/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<div class="login-form-container">
    <form action="loginProc" method="post">
        <ul class="login-form-box">
            <li class="field">
                <b>이메일</b>
                <input type="text" class="user-email" name="email">
                <div class="user-email-icon"><i class="fa-regular fa-user"></i></div>
            </li>
            <li class="field">
                <b>비밀번호</b>
                <input class="userpw" type="password" name="password">
                <div class="user-email-icon"><i class="fa-solid fa-lock"></i></div>
            </li>
            <li>
                <input type="submit" value="로그인">
            </li>
        </ul>
    </form>
    <div class="go-join">
        <p>아직 회원이 아니신가요?</p>
        <a href="/join">회원가입</a>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>
</body>
</html>
