<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/postWrite.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/javascript/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문서</title>
</head>
<body>
<div th:replace="header :: header"></div>
<form action="/posts/save" enctype="multipart/form-data" ></form>
<div class="wirte-box">
    <ul class="write-content">
        <li class="write-category">
            <div class="write-category-text">주제를 설정해주세요. ></div>
            <div class="write-category-list"><span>맛집</span><span>동네이야기</span><span>ect</span></div>
        </li>

        <li th:if="${nickname=='anonymousUser'}"><div>익명</div><div><input type="password" placeholder="비밀번호를 입력하세요"></div></li>

        <li><input class="write-title" type="text" placeholder="제목을 입력해 주세요."></li>
        <li><textarea class="write-text" placeholder="전하고 싶은 동네 이야기를 작성해 주세요."></textarea></li>
        <li><div class="write-photo" onclick="triggerFileInput()">사진 올리기</div></li>
    </ul>
    <div class="photo-container"></div>
</div>
<div class="write-button-container"><button type="submit" class="write-button">글등록</button></div>
</form>
<div th:replace="footer :: footer"></div>
</body>
</html>
