<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동글</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/userinfo.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/22f660ea99.js" crossorigin="anonymous"></script>
    <script src="/javascript/info.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="user-info-container">
    <div class="user-info-box">
        <div class="user-info-bar">
            <div><span id="myinfo">내정보</span><span id="mypost">게시물</span></div>
        </div>
        <ul class="user-info-summary" id="user-info-summary">
            <li class="user-profile">
                <span><img th:src="${member.path}"></span>
                <span th:text="${member.nickname}">test</span>
            </li>
            <li>
                <span>이메일</span>
                <span th:text="${member.email}"></span>
            </li>
            <li>
                <span>가입일자</span>
                <span>2024-01-01</span>
            </li>
            <div>
                <span class="user-modify" th:nickname =${member.nickname} th:onclick="UserModify(this.getAttribute('nickname'))" >내정보 수정</span>
            </div>
        </ul>
        <div>
            <ul class="user-info-post" id="user-info-post" th:each="post : posts">
                <li th:if="${posts.size() == 0}">작성하신 게시글이 없습니다</li>
                <li th:if="${posts.size() != 0}" th:class="user-info-post-list" th:classappend="first">
                    <div>No</div>
                    <div>글제목</div>
                    <div>조회수</div>
                    <div>작성날짜</div>
                </li>
                <li th:each="post : ${posts}" th:class="user-info-post-list">
                    <div th:text="${post.id}"></div>
                    <div th:text="${post.title}" th:onclick="|location.href='/posts/${post.id}'|"></div>
                    <div th:text="${post.views}"></div>
                    <div th:text="${post.createdDate}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
<script>
    function UserModify(nickname){
        location.href="/userInfo/modify/"+nickname;
    }
</script>
</html>